/* Media querys*/

/*----- Medida para tablets Horizontal -----*/

@media screen and (max-width: 1024px) {
    header nav ul li {
        margin: 0px 5px 10px 0px;
        background: #f3e0da;
        padding: 10px;
    }
    header nav ul li a:hover {
        color: #6D1CA7;
    }
    #main #no-slide {
        display: none;
    }
    #main #articles_list #pagination p a {
        margin: 10px 20px 10px 20px;
        background: #f3e0da;
        color: #b261d7;
        padding: 10px;
    }
    footer .widget {
        width: 50%;
    }
    .widget ul li {
        border-bottom: 1px solid #333333;
        padding: 5px 0px;
    }
}
/* medida para tablet en Vertical*/

@media screen and (max-width: 768px) {
    header #logo {
        width: 100%;
        background: #333333;
    }
    header #logo p {
        text-align: center;
    }
    header #logo span {
        text-align: center;
        left: 50px;
    }
    header nav {
        width: 100%;
        float: left;
        margin-top: 10px;
    }
    header nav ul {
        float: left;
    }
    #main #articles_list {
        width: 100%;
    }
    #main aside {
        width: 100%;
        clear: both;
    }
    .widget {
        margin-bottom: 40px;
        width: 100%;
    }
}
/* medida para smartphones*/

@media screen and (max-width: 400px) {
    #main #articles_list article .thumb {
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }
    footer .widget {
        width: 100%;
    }
}
